# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini
*.log

# Configuraciones locales
.vscode/
node_modules/
dist/
build/
.env
*.dat
*.json
*.history
*.cache
*.tmp

# Archivos temporales
*.swp
*.bak
*.old
